<html>
    <head>
        <title>koa ejs</title>
    </head>
    <body>
        <h3>koa ejs</h3>
        <%- body %>
            <script src="./index.min.js" charset="utf-8"></script>
        </body>
    </html>