<html>
    <head>
        <title>es10 cli</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <%- body %>
            <script src="./index.min.js" charset="utf-8"></script>
        </body>
    </html>